.logo {
   width: 200px;
   height: 65px;
}

.header { 
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-inline: 0;
}

#components-layout-demo-top-side-2 .logo {
   float: left;
   width: 120px;
   height: 31px;
   margin: 16px 24px 16px 0;
   background: rgba(255, 255, 255, 0.3);
 }
 
 .ant-row-rtl #components-layout-demo-top-side-2 .logo {
   float: right;
   margin: 16px 0 16px 24px;
 }

 :where(.css-dev-only-do-not-override-1n7nwfa).ant-layout .ant-layout-header{
   padding-inline: 0;
 }

 .logout-button {
   margin: 25px;
   transition: color 0.3s;
   box-sizing: border-box;
 }


