.logo {
   width: 200px;
   height: 65px;
}

.header { 
   display: flex;
   justify-content: space-between
}

#components-layout-demo-top-side-2 .logo {
   float: left;
   width: 120px;
   height: 31px;
   margin: 16px 24px 16px 0;
   background: rgba(255, 255, 255, 0.3);
 }
 
 .ant-row-rtl #components-layout-demo-top-side-2 .logo {
   float: right;
   margin: 16px 0 16px 24px;
 }

 :where(.css-dev-only-do-not-override-1n7nwfa).ant-layout .ant-layout-header{
   padding-inline: 0;
 }

 .header-logout-button {
   color: #f00;
 }

  .header-button { 
   width: 75px;
   border: 0;
   border-radius: 0;
   height: 64px;
   margin:0 20px;
   background-color: transparent;
  }

  .header-toggle-button { 
    color: #fff;
  }

  .header-buttons {
    display: flex;
    justify-content: flex-end; 
  }

  .sider-buttons {
   width: 200px;
   border: 0;
   border-radius: 0;
   height: 30px;
   margin:20px 0;
   background-color: transparent;
   color: #fff;
  }